extends layout

block content
  iframe(src="/show/local/presentation", width="800", height="500", frameborder="0", webkitallowfullscreen)

  iframe(width="560", height="315", src="http://www.youtube.com/embed/ztspvPYybIY", frameborder="0", allowfullscreen)