<div id="progress"><span></span></div>
<div class="bar">
  <div class="left">
    <a href="" class="btn icon-th"></a>
    <a href="#pref" class="btn icon-caret-left"></a>
    <span class="numSlide">4</span>
    <span class="pagingSep">/</span>
    <a href="/show/presentation/lastslide" class="nbSlides">9</a>
  </div>
  <div class="middle">
    <a href="" class="btn prev icon-caret-left"></a>
    <a href="" class="btn next icon-caret-right"></a>
  </div>
  <div class="right">
    <a href="" class="btn icon-time"></a>
    <a href="" class="btn icon-fullscreen"></a>
  </div>
</div>
<a class="logo" href="http://nrako.com">nrako</a>